<div class="jumbotron">
    <h1>Turntable Exporter</h1>
    <p>This site is designed to take a list of turntable.fm songs and export all available songs to a Soundcloud playlist.</p>
    <h3>Get started!</h3>
    <p><a href="<%= signin_url %>"><%= image_tag 'sc-connect.png' %></a></p>
</div>